{% extends "app_coder/base.html" %}
{% load static %}

{% block Title %}
Vtubers | VtuberWorld
{% endblock Title %}

{% block content %}
<h1>Los talentos de los que tenemos registro!</h1>

<h2 class="text-center mt-2">Buscar Vtuber</h2>

{% comment %} {% if request.user.is_staff %}
    <div class="admin-buttons">
        <a href="{% url 'Formulario' %}" class="btn btn-success">Agregar VTuber</a>
        <a href="{% url 'Editar-vtuber'  vtuber.id %}" class="btn btn-warning">Editar VTuber</a>
        <a href="{% url 'Eliminar-vtuber' %}" class="btn btn-danger">Borrar VTuber</a>
    </div>
{% endif %} {% endcomment %}


<!-- Formulario de búsqueda -->
<div class="d-flex flex-column align-items-center mb-2">
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
</div>

<div class="container py-5">
    {% if user.is_staff %}
    <div class="text-center mb-4">
        <a href="{% url 'Formulario' %}" class="btn btn-primary">Agregar VTuber</a>
    </div>
    {% endif %}
    <div class="row justify-content-center g-4">
        {% for vtuber in vtubers %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{ vtuber.foto.url }}" class="card-img-top" alt="Foto de {{ vtuber.nombre }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ vtuber.nombre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ vtuber.company }}</h6>
                    <p class="card-text description">{{ vtuber.descripcion }}</p>
                    {% if user.is_staff %}
                    <div class="d-flex justify-content-center gap-2 mt-2">
                        <a href="{% url 'Editar-vtuber' vtuber.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'Eliminar-vtuber' vtuber.pk %}" class="btn btn-danger">Eliminar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock content %}