{% extends "app_coder/base.html" %}
{% load static %}
{% block content_header %}

{% endblock content_header %}
{% block title %}
Cambiar contraseña | VtuberWorld
{% endblock title %}

{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Cambiar Contraseña</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form_password.as_p }}
                        
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success">Actualizar Contraseña</button>
                            <a href="{% url 'Perfil' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}

{% comment "FALTA DESARROLLAR EL HTML DE CAMBIAR LA PASSWORD" %}{% endcomment %}