{% extends "app_coder/base.html" %}
{% load static %}

{% block Title %}
Editar Perfil | VtuberWorld
{% endblock Title %}
{% block content_header %}

{% endblock content_header %}
{% block content %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Editar perfil</h4>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">  <!-- El enctype es importante para subir archivos -->
                        {% csrf_token %}
                        
                        {% for field in user_form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <!-- Campo para la foto de perfil -->
                        {% for field in profile_form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

