{% extends "app_coder/base.html" %}
{% load static %}

{% block Title %}
Compartir Vtuber| Vtuberworld

{% endblock Title %}
{% block content_header %}

{% endblock content_header %}
{% block content %}


<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Compartir Vtuber</h4>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data"> <!-- Añadido enctype -->
                        {% csrf_token %}
                        
                        <!-- Nombre -->
                        <div class="mb-3">
                            <label for="id_nombre" class="form-label">Nombre</label>
                            <input type="text" name="nombre" id="id_nombre" class="form-control" placeholder="Ingresa el nombre del vtuber" required>
                        </div>
                        
                        <!-- Compañía -->
                        <div class="mb-3">
                            <label for="id_company" class="form-label">Compañía</label>
                            <input type="text" name="company" id="id_company" class="form-control" placeholder="Ingresa la compañía" required>
                        </div>
                        
                        <!-- Descripción -->
                        <div class="mb-3">
                            <label for="id_descripcion" class="form-label">Descripción</label>
                            <textarea name="descripcion" id="id_descripcion" class="form-control" rows="3" placeholder="Escribe una descripción" required ></textarea>
                        </div>
                        
                        <!-- Foto -->
                        <div class="mb-3">
                            <label for="id_foto" class="form-label">Foto</label>
                            <input type="file" name="foto" id="id_foto" class="form-control" required>
                        </div>
                        
                        <!-- Botón de envío -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Compartir Vtuber</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}