{% extends "app_coder/base.html" %}
{% load static %}

{% block Title %}
Mensajes enviados | VtuberWorld
{% endblock Title %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center mb-4">Mensajes Enviados</h2>
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            {% for mensaje in mensajes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            <i class="bi bi-person-fill"></i> Para: {{ mensaje.destinatario.username }}
                        </h5>
                        <p class="card-text text-dark"><strong>Mensaje:</strong> {{ mensaje.contenido }}</p>
                        <p class="card-text text-muted">
                            <small>
                                <i class="bi bi-calendar-event"></i> Fecha: {{ mensaje.fecha_envio }}
                            </small>
                        </p>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info text-center" role="alert">
                    <i class="bi bi-envelope-open"></i> No has enviado ningún mensaje.
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

